<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Display: grid</h1>

    <div class="grid">
        <div class="child">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias culpa eius exercitationem ipsum labore officiis quam quos reprehenderit tempore veritatis voluptas, voluptatem voluptatum. Est facilis harum quod vel veritatis!</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias culpa eius exercitationem ipsum labore officiis quam quos reprehenderit tempore veritatis voluptas, voluptatem voluptatum. Est facilis harum quod vel veritatis!</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias culpa eius exercitationem ipsum labore officiis quam quos reprehenderit tempore veritatis voluptas, voluptatem voluptatum. Est facilis harum quod vel veritatis!</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias culpa eius exercitationem ipsum labore officiis quam quos reprehenderit tempore veritatis voluptas, voluptatem voluptatum. Est facilis harum quod vel veritatis!</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias culpa eius exercitationem ipsum labore officiis quam quos reprehenderit tempore veritatis voluptas, voluptatem voluptatum. Est facilis harum quod vel veritatis!</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias culpa eius exercitationem ipsum labore officiis quam quos reprehenderit tempore veritatis voluptas, voluptatem voluptatum. Est facilis harum quod vel veritatis!</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias culpa eius exercitationem ipsum labore officiis quam quos reprehenderit tempore veritatis voluptas, voluptatem voluptatum. Est facilis harum quod vel veritatis!</div>
    </div>
</body>
</html>